@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 1400px;
    margin: 0 auto;
}


/* #region header */
header {
    padding: 50px 0;
}

header .logo,
footer .blocks .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}

header nav ul li.btn a,
.email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover,
.email .block button:hover {
    background: #a02604;
}

.hero {
    padding-bottom: 110px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    font-size: 20px;
    font-weight: bold;
    color: #E87D0E;
}

.hero--info h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero--info p,
.hero-about .info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn,
.hero-about .info .btn {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    font-size: 17px;
    transition: all 500ms ease;
}

.hero--info .btn:hover,
.hero-about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0;
}

/* #endregion */

/* #region Home */
/* #region games */
.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all,
.projects .see-all {
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover,
.projects .see-all:hover {
    transform: scale(1.1);
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games span img {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px 0;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    width: 100%;
    margin-bottom: 30px;
}

/* #endregion */

/* #region project */
.features {
    background: url('/img/phone.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block p {
    width: 100%;
    margin-top: 15px;
}


.projects {
    padding: 100px 0;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.projects .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* #endregion */

/* #region email */
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
    padding-bottom: 10px;
}

.email .block {
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block p {
    width: 500px;
}

.email .block input {
    background: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 380px;
    font-family: "Poppins", sans-serif;
    padding: 20px 30px;
    position: relative;
    right: -105px;
    z-index: 1;
    padding-right: 120px;
}

.email .block input::placeholder {
    color: #898989;
}

.email .block button {
    cursor: pointer;
    border: none;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 700;
}

#error {
    position: absolute;
    padding-top: 15px;
    margin-left: 110px;
    color: red;
}

/* #endregion */
/* #endregion */

/* #regoin About us */
/* #region hero-about */
.hero-about {
    position: relative;
}

.hero-about .info {
    width: 500px;
    padding: 150px 0;
}

.hero-about .info h2,
.hero-contacts h2 {
    padding-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
}

.hero-about .info h2 .fa-greater-than,
.hero-contacts h2 .fa-greater-than {
    font-size: 12px;
    font-weight: 400;
    margin-left: 7px;
}

.hero-about .info span,
.hero-contacts span {
    color: #E47500;
    margin-left: 5px;
}

.hero-about .info h1 {
    margin-bottom: 15px;
    font-size: 30px;
}

.hero-about .info button {
    margin-top: 20px;
}

.hero-about img {
    position: absolute;
    right: -255px;
    top: 0;
}

/* #endregion hero-about */

/* #region work */
.work {
    padding: 80px 0;
}

.work h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks {
    display: flex;
    justify-content: space-between;
}

.work .blocks .block {
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1C140F;
}

.work .blocks .block .badge {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
}

.work .blocks .block .badge.purpule {
    background: #560f67;
}

.work .blocks .block .badge.brown {
    background: #31190D;
}

.work .blocks .block .badge.green {
    background: #192a1d;
}

.work .blocks .block h3 {
    font-size: 20px;
    margin: 20px 0;
}

/* #endregion */

/* #region nowrapper-info */
.nowrapper-info {
    background: #1C140F;
}

.nowrapper-info .container {
    padding-top: 115px;
    display: flex;
    gap: 95px;
}

.nowrapper-info .container .info {
    width: 540px;
}


.nowrapper-info .container .info h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 14px;
}

.nowrapper-info .container .info h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.nowrapper-info .container .info p {
    font-weight: 300;
    line-height: 202%;
}

/* #endregion */

/* #region team */
.team h4 {
    margin-top: 150px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 63px;
}

.team .blocks {
    display: flex;
    justify-content: space-between;
}

.team .blocks .block {
    text-align: center;
    padding: 35px 86px;
    border-radius: 20px;
    background: #1C140F;
}

.team .blocks .block p {
    padding-top: 5px;
    font-weight: 300;
    color: #E8E8E8;
}

.team .blocks .block .name {
    padding-top: 5px;
    font-size: 19px;
    font-weight: 600;
}

/* #endregion */

/* #endregion */

/* #region contacts */
/* #region hero-contacts */
.hero-contacts h2 {
    margin-top: 70px;
    text-align: center;
}

.hero-contacts h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts .text {
    text-align: center;
}

.hero-contacts img {
    width: 70%;
    margin: 80px 15%;
}

.hero-contacts .info {
    margin-bottom: 147px;
    display: flex;
}

.hero-contacts .info .follo-us {
    padding-right: 100px;
    border-right: 1px solid #fff;
}

.hero-contacts .info .follo-us p {
    padding-bottom: 18px;
    font-weight: 300;
}

.hero-contacts .info .follo-us .icon {
    display: flex;
    gap: 16px;
}

.hero-contacts .info .follo-us .icon i {
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 14px;
    background: #1C140F;
    border-radius: 50%;
}

.hero-contacts .info .tel,
.hero-contacts .info .local {
    padding: 40px 85px;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
}

.hero-contacts .info .tel p i,
.hero-contacts .info .local p i {
    font-size: 30px;
    padding-right: 25px;
}

.hero-contacts .info .tel p,
.hero-contacts .info .local p {
    font-size: 20px;
    font-weight: 300;
}

/* #endregion */

.feedback {
    padding: 70px 0;
    background: #1C140F;
}

.feedback h2 {
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form {
    margin: 80px auto;
    width: 600px;
}

.feedback .form-span {
    font-size: 20px;
}

.feedback form .inline {
    display: flex;
    justify-content: space-between;
}

.feedback form .inline>div {
    width: 50%;
}

.feedback form label {
    color: #4f4f4f;
    font-size: 14px;
}

.feedback form input,
.feedback form textarea {
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line {
    width: 96%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}

.feedback form #form-error {
    float: left;
    color: red;
}

.feedback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 30px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #b01414;
}


/* #region footer */
footer {
    background: #070707;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 12px 0;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8;
}

footer .icon {
    display: flex;
    gap: 16px;
    padding-top: 100px;
}

footer .icon i {
    font-size: 16px;
    background: #fff;
    color: #070707;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all 300ms ease;
}

footer .icon i:hover, .follo-us .icon i:hover {
    transform: scale(1.2);
    color: #fff;
    cursor: pointer;
}

.fa-facebook-f:hover {
    background: #3b5998;
}

.fa-instagram:hover {
    background: #C13584;
}

.fa-twitter:hover {
    background: #1DA1F2;
}

.fa-linkedin-in:hover {
    background: #4b0082;
}

footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer>p {
    text-align: center;
}

/* #endregion */